
body {
    background: white url("images/backgroundimage.png") no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #075e16;
}

li a {
    color: #075e16;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}